{% extends 'base.html.twig' %}

{% block title %}Megacasting{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="container">
    <div class="row">

    <div class="col-md-12 d-flex flex-wrap justify-content-around">
        <div class="col-md-6">
            <h1>{{ casting.intitule}}</h1>
            <img src="{{ asset('img/casting.jpg') }}" width="500">
        </div>
        <div class="col-md-6 mt-5">
            <p><u>Description du profil rechercher:</u> {{ casting.descriptionprofil }}</p>
            <p><u>Description du poste:</u> {{ casting.descriptionPoste }}</p>
            <p><u>Lieux:</u> {{ casting.localisation }}</p>
            <p><u>Contact:</u> {{ casting.Professionnel.civilite.genre}} {{ casting.Professionnel.nom}} {{ casting.Professionnel.prenom}} : {{ casting.coordonnees }}</p>
            <p><u>Type de contrat:</u> {{ casting.Contrat.libelle}}</p>
            <p><u>Type de métier:</u> {{ casting.Metier.libelle}}</p>
            {% if(is_granted("IS_AUTHENTICATED_FULLY")) %}
                <a type="" class="btn btn-success mt-5 p-4" style="margin-right: 20px";
                   href="{{ path('postuler', {'id': casting.idCasting}) }}"><b>POSTULER</b>
                </a>
            {% else %}
                <a type="button" class="btn btn-success mt-5 p-4" style="margin-right: 20px"
                   href="{{ url('app_register') }}"> <b>INCRIVEZ-VOUS</b> pour Postuler</a>
            {% endif %}
        </div>
    </div>
{% endblock %}